.card {
    background-color: #008cff;
    border-radius: 5px;
    animation: 2s hideCard linear;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    opacity: 0;
    animation: 2s hideImage linear;
}

@keyframes hideCard {
    0%, 70% {
        transform: rotateX(0deg);
    }100% {
        transform: rotateX(180deg);
    }
}

@keyframes hideImage {
    0%, 84%{
        opacity: 1;
    }85%{
        opacity: 0;
    }
}

.card.active {
    transform: rotateY(0);
}

.card.active img {
    opacity: 1;
}

.unmatch {
    background-color: #f01c1c;
    border-radius: 5px;
    animation: 2s hideCard linear;
}